<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <link rel="stylesheet" href="style.css" />
    <title>DreamArchers ERP</title>
  </head>
  <body>
    <main>
      <section class="glass">
        <div class="menu-sidebar">
          <img class="logo" src="da-logo4.svg" alt="logo" />
          <ul>
            <li><a href="home">Home</a></li>
            <li><a href="profile">Profile</a></li>
            <li><a href="payroll">Payroll</a></li>
            <li><a href="settings">Settings</a></li>
          </ul>
        </div>
        <div class="content">
          <h1>Payroll</h1>

          <div class="cards">
            <div class="card" id="payroll-basic-data">
              <div class="card-title-bar">Basic Data</div>
              <section class="card-details">
                <div class="titles">
                  <div class="name">Name:</div>
                  <div class="id-number">ID Number:</div>
                  <div class="department">Department:</div>
                  <div class="payroll-period">Payroll Period:</div>
                  <div class="payroll-date">Payroll Date:</div>
                </div>
                <div class="title-values">
                  <div class="name">Mezha Pereyra</div>
                  <div class="id-number">123456789</div>
                  <div class="department">Graphics A</div>
                  <div class="payroll-period">May 1-30, 2024</div>
                  <div class="payroll-date">June 9, 2024</div>
                </div>
              </section>
            </div>
            <div class="card" id="payroll-amount-data">
              <div class="card-title-bar">Details</div>
              <section class="details">
                <div class="client">
                  <div class="client-column">Client</div>
                  <div class="client-name">Waterfront Media LLC</div>
                  <div class="client-name">Waterfront Media LLC</div>
                  <div class="client-name">''</div>
                </div>
                <div class="gross">
                  <div class="gross-amount">Gross</div>
                  <div class="amount" id="amount">37,032.70</div>
                  <div class="amount" id="amount">2,025.23</div>
                  <div class="total">Total</div>
                </div>
                <div class="net">
                  <div class="net-amount">Net</div>
                  <div class="amount" id="amount">18,516.35</div>
                  <div class="amount" id="amount">2,025.23</div>
                  <div class="total-amount" id="total">20,541.58</div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="active.js"></script>
  </body>
</html>
