* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #0e4f8b, #042d63de);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.glass {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  width: 90%;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  border: 1px solid rgba(255, 255, 255, 0.3);
}

.menu-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.274),
      rgba(255, 255, 255, 0.349));
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: transparent;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

  height: 100%;
}

.logo {
  width: 180px;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  width: 100%;
}

.menu-item {
  padding-left: 35px;
  width: 100%;
}

.menu-item a {
  text-decoration: none;
  color: #000000;
  font-size: 0.9rem;
  transition: 0.3s;
  width: 100%;
}

.menu-item.active,
.menu-item:hover {
  padding-left: 40px;
  background-color: #495057;
  border-left: 5px solid #17a2b8;
}

.menu-item:hover a {
  color: white;
}

.menu-item i {
  width: 20px;
  height: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  font-size: 0.9rem;
  margin-top: 20px;
  margin-left: 20px;
}

.content-title {
  color: #006994;
  width: 100%;
  text-align: center;
}

.card {
  color: #006994;
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}

.card-title-bar {
  height: 30px;
  width: 100%;
  line-height: 30px;
  background: #006994;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #fff;
}

.basic-data,
.payroll-data,
.deductions-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.basic-data,
.payroll-data,
.total-data {
  background-color: azure;
}

.basic-data-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex;
}

.name,
.department,
.payroll-date,
.bank-account,
.id-number,
.payroll-period {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.name,
.department {
  width: 220px;
}

.id-number,
.payroll-period {
  width: 150px;
}

.bank-account,
.payroll-date {
  width: 159px;
}

.name-value,
.id-number-value,
.department-value,
.payroll-period-value,
.payroll-date-value,
.bank-account-value,
.deductions-value,
.description {
  margin-left: 5px;
  color: #000000;
}

.client {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.deductions {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.gross-amount,
.net-amount,
.deduction-amount {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px;
}

.gross-amount-value,
.net-amount-value,
.total-value {
  margin-left: 5px;
  color: #000000;
}

.client-value {
  color: #000000;
  margin-left: 5px;
}

footer {
  width: 100%;
  text-align: center;
  /* Center the text */
  padding: 5px;
  /* Add some padding */
}