/* menu-sidebar {
    background-color: #333;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  
  /* menu-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
  } */
  
  /* menu-sidebar li {
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  menu-sidebar a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
  } */ */