* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #0e4f8b, #042d63de);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  display: flex;
  min-height: 90vh;
  width: 90%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  border: 1px solid rgba(255, 255, 255, 0.3);
}
.menu-sidebar {
  display: flex;
  /* width: 310px; */
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.274),
    rgba(255, 255, 255, 0.349)
  );
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: transparent;
}

.logo {
  width: 180px;
  margin-bottom: 20px;
}
.menu-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.menu-sidebar li {
  margin-bottom: 10px;
}
.menu-sidebar a {
  display: flex;
  /* padding-left: 50px; */
  justify-content: center;
  color: #333;
  text-decoration: none;
}
.menu-sidebar li:hover {
  background-color: #006994;
}

.menu-sidebar a:hover {
  color: #fff;
  font-size: 1.5rem;
}

.menu-sidebar a:active {
  background-color: #006994;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  /* padding: 20px; */
  margin-top: 20px;
  margin-left: 20px;
}
.content-title {
  width: 100%;
  text-align: center;
  /* background-color: #006994; */
}

.card {
  /* height: 180px; */

  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  text-align: center;
}

.card-title-bar {
  height: 30px;
  width: 100%;
  line-height: 30px;
  background: #006994;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #fff;
}

.basic-data,
.payroll-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.basic-data-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex;
  /* align-items: stretch; */
  /* background-color: orange; */
}
.name,
.department,
.payroll-date,
.bank-account,
.id-number,
.payroll-period,.deductions {
  width: 190px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  /* padding: 10px; */
}

.name-value,
.id-number-value,
.department-value,
.payroll-period-value,
.payroll-date-value,
.bank-account-value,.deductions-value {
  margin-left: 5px;
  color: #006994;
}

.client {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.gross-amount,
.net-amount {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px;
}
.total {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 10px;
}
.gross-amount-value,
.net-amount-value,
.total-value {
  margin-left: 5px;
  color: #006994;
}
.client-value {
  color: #006994;
  margin-left: 5px;
}
