* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #0e4f8b, #042d63de);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  display: flex;
  min-height: 90vh;
  width: 90%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  border: 1px solid rgba(255, 255, 255, 0.3);
}
.menu-sidebar {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.274),
    rgba(255, 255, 255, 0.349)
  );
  padding-top: 30px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: transparent;
}

.logo {
  width: 180px;
  margin-bottom: 20px;
}
.menu-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.menu-sidebar li {
  margin-bottom: 10px;
}
.menu-sidebar a {
  display: flex;
  /* padding-left: 50px; */
  justify-content: center;
  color: #333;
  text-decoration: none;
}
.menu-sidebar li:hover {
  background-color: #006994;
}

.menu-sidebar a:hover {
  color: #fff;
  font-size: 1.5rem;
}

.menu-sidebar a:active {
  background-color: #006994;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
}

.card {
  height: 180px;
  width: 200px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  margin-right: 5px;
  text-align: center;
}

.card-title-bar {
  height: 30px;
  width: 100%;
  line-height: 30px;
  background: #006994;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  color: #fff;
}

.card-details,
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.titles,
.title-values {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  margin-top: 10px;
  margin-bottom: 10px;
}

#payroll-basic-data {
  width: 300px;
}
#payroll-amount-data {
  width: 600px;
}

.client-name,
#amount,
#total {
  text-align: right;
}

.active {
  background-color: #006994;
  color: #fff;
}
